@media screen and (max-width: 1080px) {
  .galleryNav div::before,
  .galleryNav div::after {
    background: white;
  }
}

@media screen and (max-width: 768px) {
  .galleryRail figure {
    width: 768px;
    min-width: 768px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
}
